In [3]:
import pandas as pd
import numpy as np

In [4]:
dataset=pd.read_excel('model data train.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'model data train.xlsx'

In [5]:
import os

In [6]:
os.getcwd()

'C:\\Users\\Dhineshkumar\\Desktop\\Test jupyter'

In [8]:
os.chdir("C:\\Users\\model\\dataset\\model data train.xlsx")

NotADirectoryError: [WinError 267] The directory name is invalid: 'C:\\Users\\model\\dataset\\model data train.xlsx'

In [9]:
dataset=pd.read_excel('model data train.xlsx')

In [10]:
dataset

,Jet Airways,9/06/2019,Delhi,Cochin,DEL → NAG → BOM → COK,14:35,04:25 10 Jun,13h 50m,2 stops,No info,13376
0,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,12:25 13 Mar,17h 30m,1 stop,In-flight meal not included,11087
1,SpiceJet,3/03/2019,Kolkata,Banglore,CCU → BLR,09:00,11:30,2h 30m,non-stop,No info,5515
2,IndiGo,27/06/2019,Kolkata,Banglore,CCU → BLR,04:40,07:15,2h 35m,non-stop,No info,4804
3,IndiGo,12/06/2019,Chennai,Kolkata,MAA → CCU,13:15,15:35,2h 20m,non-stop,No info,3597

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Jet Airways            4 non-null      object
 1   9/06/2019              4 non-null      object
 2   Delhi                  4 non-null      object
 3   Cochin                 4 non-null      object
 4   DEL → NAG → BOM → COK  4 non-null      object
 5   14:35                  4 non-null      object
 6   04:25 10 Jun           4 non-null      object
 7   13h 50m                4 non-null      object
 8   2 stops                4 non-null      object
 9   No info                4 non-null      object
 10  13376                  4 non-null      int64
dtypes: int64(1), object(10)
memory usage: 480.0+ bytes

In [12]:
dataset.head()

,Jet Airways,9/06/2019,Delhi,Cochin,DEL → NAG → BOM → COK,14:35,04:25 10 Jun,13h 50m,2 stops,No info,13376
0,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,12:25 13 Mar,17h 30m,1 stop,In-flight meal not included,11087
1,SpiceJet,3/03/2019,Kolkata,Banglore,CCU → BLR,09:00,11:30,2h 30m,non-stop,No info,5515
2,IndiGo,27/06/2019,Kolkata,Banglore,CCU → BLR,04:40,07:15,2h 35m,non-stop,No info,4804
3,IndiGo,12/06/2019,Chennai,Kolkata,MAA → CCU,13:15,15:35,2h 20m,non-stop,No info,3597